---
interface Props {
  title: string;
  lang?: string;
}

const { title, lang = 'cs' } = Astro.props;
---
<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <slot name="head" />
</head>
<body>
  <slot />
</body>
</html>
